*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

a { text-decoration: none; cursor: pointer; }

.menu { display: inline-block; width: 100%; font-size: 1.3rem; color: #002e49; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: center; }
.menu:after { display: inline-block; content: ''; border-right: 1px dotted #002e49; height: 50%; }
.menu > span { line-height: 1.2; }
.menu.m01 { border-bottom: 5px solid #ea7162; }
.menu.m01:before { display: inline-block; content: ''; border-right: 1px dotted #002e49; height: 50%; }
.menu.m01:hover, .menu.m01.m01-h { color: white; background-color: #ea7162; border-bottom: 5px solid #ef9c93; }
.menu.m01:hover:before, .menu.m01.m01-h:before { display: none; }
.menu.m01:hover:after, .menu.m01.m01-h:after { display: none; }
.menu.m02 { border-bottom: 5px solid #0c6eb8; }
.menu.m02:hover, .menu.m02.m02-h { color: white; background-color: #0c6eb8; border-bottom: 5px solid #1f7ed0; }
.menu.m02:hover:after, .menu.m02.m02-h:after { display: none; }
.menu.m03 { border-bottom: 5px solid #0ca84b; }
.menu.m03:hover, .menu.m03.m03-h { color: white; background-color: #0ca84b; border-bottom: 5px solid #46b674; }
.menu.m03:hover:after, .menu.m03.m03-h:after { display: none; }
.menu.m04 { border-bottom: 5px solid #1bb1e7; }
.menu.m04:hover, .menu.m04.m04-h { color: white; background-color: #1bb1e7; border-bottom: 5px solid #4fbce8; }
.menu.m04:hover:after, .menu.m04.m04-h:after { display: none; }
.menu.m05 { border-bottom: 5px solid #fcb814; }
.menu.m05:hover, .menu.m05.m05-h { color: white; background-color: #fcb814; border-bottom: 5px solid #f8c14d; }
.menu.m05:hover:after, .menu.m05.m05-h:after { display: none; }
.menu.m06 { border-bottom: 5px solid #ee1c23; }
.menu.m06:hover, .menu.m06.m06-h { color: white; background-color: #ee1c23; border-bottom: 5px solid #ee5056; }
.menu.m06:hover:after, .menu.m06.m06-h:after { display: none; }
.menu.m07 { border-bottom: 5px solid #745399; }
.menu.m07:hover, .menu.m07.m07-h { color: white; background-color: #745399; border-bottom: 5px solid #886ea5; }
.menu.m07:hover:after, .menu.m07.m07-h:after { display: none; }

.index-v-name { display: inline-block; width: 100%; margin-bottom: 0; color: black; font-size: 1.2rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; padding-top: 5px; }
.index-v-name:hover { color: #cba878; }
.index-v-name:before { display: inline-block; content: attr(title); color: #cba878; cursor: auto; margin-right: 10px; }
