*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

a, button { vertical-align: inherit !important; }

a { text-decoration: none; cursor: pointer; }

button { border: 0; outline: 0; }

.menu { display: inline-block; width: 100%; font-size: 1.3rem; color: #002e49; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: center; }
.menu:after { display: inline-block; content: ''; border-right: 1px dotted #002e49; height: 50%; }
.menu > span { line-height: 1.2; }
.menu.m01 { border-bottom: 5px solid #ea7162; }
.menu.m01:before { display: inline-block; content: ''; border-right: 1px dotted #002e49; height: 50%; }
.menu.m01:hover, .menu.m01.m01-h { color: white; background-color: #ea7162; border-bottom: 5px solid #ef9c93; }
.menu.m01:hover:before, .menu.m01.m01-h:before { display: none; }
.menu.m01:hover:after, .menu.m01.m01-h:after { display: none; }
.menu.m02 { border-bottom: 5px solid #0c6eb8; }
.menu.m02:hover, .menu.m02.m02-h { color: white; background-color: #0c6eb8; border-bottom: 5px solid #1f7ed0; }
.menu.m02:hover:after, .menu.m02.m02-h:after { display: none; }
.menu.m03 { border-bottom: 5px solid #0ca84b; }
.menu.m03:hover, .menu.m03.m03-h { color: white; background-color: #0ca84b; border-bottom: 5px solid #46b674; }
.menu.m03:hover:after, .menu.m03.m03-h:after { display: none; }
.menu.m04 { border-bottom: 5px solid #1bb1e7; }
.menu.m04:hover, .menu.m04.m04-h { color: white; background-color: #1bb1e7; border-bottom: 5px solid #4fbce8; }
.menu.m04:hover:after, .menu.m04.m04-h:after { display: none; }
.menu.m05 { border-bottom: 5px solid #fcb814; }
.menu.m05:hover, .menu.m05.m05-h { color: white; background-color: #fcb814; border-bottom: 5px solid #f8c14d; }
.menu.m05:hover:after, .menu.m05.m05-h:after { display: none; }
.menu.m06 { border-bottom: 5px solid #ee1c23; }
.menu.m06:hover, .menu.m06.m06-h { color: white; background-color: #ee1c23; border-bottom: 5px solid #ee5056; }
.menu.m06:hover:after, .menu.m06.m06-h:after { display: none; }
.menu.m07 { border-bottom: 5px solid #745399; }
.menu.m07:hover, .menu.m07.m07-h { color: white; background-color: #745399; border-bottom: 5px solid #886ea5; }
.menu.m07:hover:after, .menu.m07.m07-h:after { display: none; }

.index-v-name { display: inline-block; width: 100%; margin-bottom: 0; color: black; font-size: 1.2rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; padding-top: 5px; }
.index-v-name.no-title:before { display: none; }
.index-v-name:hover { color: #9d8560; }
.index-v-name:before { display: inline-block; content: attr(title); color: #cba878; cursor: auto; margin-right: 10px; }

.vo-img-hover { display: inline-block; width: 100%; height: 100%; background-color: #efe7db; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; overflow: hidden; }
.vo-img-hover > img { width: 100%; max-width: 150px; margin: 10px; }

.v-img-hover { display: inline-block; width: 100%; height: 100%; background-color: black; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; overflow: hidden; }
.v-img-hover > img { width: 100%; max-width: 300px; opacity: .8; }
.v-img-hover:hover { background-color: transparent; }
.v-img-hover:hover img { opacity: 1; }

.pagenumber { display: inline-block; width: 25px; height: 25px; color: #cba878; font-size: 1rem; margin-left: 8px; line-height: 25px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.pagenumber:hover, .pagenumber.page-ac { border: 2px solid #cba878; color: #cba878; line-height: 22px; }
.pagenumber.al { line-height: normal; }
.pagenumber.al:before { display: inline-block; content: '\e907'; font-size: 2rem; font-family: icon; }
.pagenumber.al:hover { border: 0; }
.pagenumber.al:hover:before { display: inline-block; content: '\e906'; font-size: 2rem; font-family: icon; }
.pagenumber.ar { line-height: normal; }
.pagenumber.ar:before { display: inline-block; content: '\e909'; font-size: 2rem; font-family: icon; }
.pagenumber.ar:hover { border: 0; }
.pagenumber.ar:hover:before { display: inline-block; content: '\e908'; font-size: 2rem; font-family: icon; }

.btn-more { display: inline-block; background-color: #cba878; font-size: 1.2rem; color: white; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; padding: 5px 15px 2px 15px; line-height: 27px; }
.btn-more:hover { color: white; background-color: #9d8560; }

.btn-orange { display: inline-block; padding: 5px 15px; color: white; font-size: 1.2rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 0; background-color: #ef8300; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn-orange:hover { color: white; background-color: rgba(239, 131, 0, 0.8); }

.icon-orange { display: inline-block; width: 40px; height: 40px; line-height: 40px; color: white; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 0; background-color: #ef8300; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; margin-left: 10px; }
.icon-orange.icon-exit_to_app { font-size: 2rem; }
.icon-orange.icon-account_circle { font-size: 2rem; }
.icon-orange.icon-playlist_play { font-size: 2.3rem; padding-left: 3px; }
.icon-orange:hover { color: white; background-color: rgba(239, 131, 0, 0.8); }

.btn-sign { display: inline-block; width: 100%; max-width: 500px; background-color: #269fdd; padding: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn-sign:hover, .btn-sign:active { background-color: rgba(38, 159, 221, 0.9); }
@media screen and (max-width: 449px) and (min-width: 0) { .btn-sign { padding: 20px 15px; } }

.btn-br { display: inline-block; padding: 5px 15px; color: white; font-size: 1.2rem; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 0; background-color: #c1a378; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn-br:hover { color: white; background-color: rgba(193, 163, 120, 0.8); }

.month-nav { display: inline-block; width: 100%; color: gainsboro; font-size: 1.3rem; border-bottom: 2px dotted gainsboro; text-align: left; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; padding: 5px 0; }
.month-nav:before { display: inline-block; content: ''; width: 100%; max-width: 20px; height: 20px; background-image: url(../img/icon-month.png); margin-right: 8px; }
.month-nav:hover, .month-nav.mon-ac { color: #cba878; }
.month-nav:hover:before, .month-nav.mon-ac:before { display: inline-block; content: ''; width: 100%; max-width: 20px; height: 20px; background-image: url(../img/icon-month-h.png); }

.new-title-link { display: inline-block; width: 100%; color: #002e49; font-size: 1.3rem; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: left; }
.new-title-link:hover { text-decoration: underline; color: #002e49; }
.new-title-link:after { display: inline-block; content: '\e900'; font-family: icon; float: right; }

.set-link { display: inline-block; cursor: pointer; font-size: 1.3rem; background-color: #c1a378; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.set-link:hover { background-color: rgba(193, 163, 120, 0.8); }

.text-18-w-h { color: white; font-size: 1.3rem; }
.text-18-w-h:hover { color: white; }

.logoimg { display: inline-block; width: 100%; max-width: 170px; padding-top: 7px; }
@media screen and (max-width: 449px) and (min-width: 0) { .logoimg { max-width: 130px; } }

.so-icon { display: inline-block; width: 30px; height: 30px; margin-left: 10px; color: white; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.so-icon:hover { color: white; }
.so-icon.fb { background-color: #4965a3; }
.so-icon.fb:before { display: inline-block; content: '\f09a'; font-family: icon; font-size: 1.2rem; line-height: 30px; }
.so-icon.u2 { background-color: #d3283a; }
.so-icon.u2:before { display: inline-block; content: '\e90f'; font-family: icon; font-size: 1.2rem; line-height: 30px; }
.so-icon.line { background-color: #3daa3d; }
.so-icon.line:before { display: inline-block; content: '\e90e'; font-family: icon; font-size: 1.5rem; line-height: 30px; }
.so-icon.app { background-color: #f6b915; }
.so-icon.app:before { display: inline-block; content: '\e90d'; font-family: icon; font-size: 1.5rem; line-height: 30px; }
