*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.h60 { height: 60px; }

.border-dotted-e { border-right: 1px dotted #002e49; }

.tag-green, .tag-blue, .tag-red { display: inline-block; padding: 3px 5px; font-size: 1rem; color: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; z-index: 2; }

.tag-green { background-color: #0fc642; }

.tag-blue { background-color: #40a7ff; }

.tag-red { background-color: #ff5656; }

.mt-20 { margin-top: -3.5%; }
