@import "Ginkgo";

// 選單主色
$c-N01: rgba(234, 113, 98, 1.00);

$c-N02: rgba(12, 110, 184, 1.00);

$c-N03: rgba(12, 168, 75, 1.00);

$c-N04: rgba(27, 177, 231, 1.00);

$c-N05: rgba(252, 184, 20, 1.00);

$c-N06: rgba(238, 28, 35, 1.00);

$c-News: rgba(116, 83, 153, 1.00);

// footer文字顏色
$c-F-Text: rgba(144, 134, 107, 1.00);

// 主要咖啡色
$c-main: rgba(203, 168, 120, 1.00);

// 背景膚色
$c-sec: rgba(239, 231, 219, 1.00);

$c-brown: rgba(157, 133, 96, 1.00);

$c-Orange: rgba(239, 131, 0, 1.00);
