@import "Ginkgo";

// 選單主色
$c-N01: rgba(234, 113, 98, 1.00);

$c-N02: rgba(12, 110, 184, 1.00);

$c-N03: rgba(12, 168, 75, 1.00);

$c-N04: rgba(27, 177, 231, 1.00);

$c-N05: rgba(252, 184, 20, 1.00);

$c-N06: rgba(238, 28, 35, 1.00);

$c-News: rgba(116, 83, 153, 1.00);

$c-N10: rgba(245, 142, 215, 1.00);

$c-N11: rgba(114, 37, 107, 1.00);

// footer文字顏色
$c-F-Text: rgba(144, 134, 107, 1.00);

// 主要咖啡色
$c-main: rgba(203, 168, 120, 1.00);

// 背景膚色
$c-sec: rgba(239, 231, 219, 1.00);

$c-brown: rgba(157, 133, 96, 1.00);

$c-Orange: rgba(239, 131, 0, 1.00);

// 文字藍色
$c-deepblue: rgba(0, 46, 73, 1.00);

// 淺灰色
$c-grey: rgba(220, 220, 220, 1.00);

// tag
$tag-green: rgba(15, 198, 66, 1.00);
$tag-blue: rgba(64, 167, 255, 1.00);
$tag-red: rgba(255, 86, 86, 1.00);

// 社群
$so-face: rgba(73, 101, 163, 1.00);
$so-u2: rgba(211, 40, 58, 1.00);
$so-line: rgba(61, 170, 61, 1.00);
$so-app: rgba(246, 185, 21, 1.00);

.c-c01 {color: $c-N01;}
.c-c02 {color: $c-N02;}
.c-c03 {color: $c-N03;}
.c-c04 {color: $c-N04;}
.c-c05 {color: $c-N05;}
.c-c06 {color: $c-N06;}
.c-c07 {color: $c-News;}

.bg-l-pink {
	background-color: rgba(253, 246, 239, 1.00);
}
