@import "Ginkgo";
@import "color";

.in-m-s {
    text-align: left;
    width: 100%;
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
    background-color: transparent;
}

.type-c01, .type-c02, .type-c03, .type-c04, .type-c05, .type-c06, .type-c07, .type-c10, .type-c11 {
    display: inline-block;

    &:before {
        display: inline-block;
        content: '\e90a';
        font-family: icon;
        font-size: 1.6rem;
        margin-top: 3px;
        margin-right: 8px;
    }
}

.type-c01 {
    color: $c-N01;
}

.type-c02 {
    color: $c-N02;
}

.type-c03 {
    color: $c-N03;
}

.type-c04 {
    color: $c-N04;
}

.type-c05 {
    color: $c-N05;
}

.type-c06 {
    color: $c-N06;
}

.type-c07 {
    color: $c-News;
}

.type-c10 {
    color: $c-N10;
}

.type-c11 {
    color: $c-N11;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bannerboxs {
    &.bannerboxs {
        display: inline-block;
        width: 100%;
        height: 320px;
        // margin-top: 30px;

        @include range-width(0, 450px) {
            height: 195px;
        }

		.swiper-slide {
            &.swiper-slide-active {
                .big-t-g {
                    top: 15px !important;
                }
            }
			@include range-width(769px) {
				&:not(.swiper-slide-active) {
					height: 280px;
					margin-top: 40px;
				}
			}

			.bg {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				display: inline-block;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 0;
				z-index: 1;
			}
	
			.container {
				display: inline-block;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 2;
				text-align: center;
                padding: 0;
	
				.info {
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;

					header {
						display: inline-block;
						width: 100%;
						line-height: 72px;
						font-size: 52px;
						color: white;
						@include text-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
					}
					p {
						width: 100%;
						display: inline-block;
						margin: 0;
						margin-top: 32px;
						color: white;
	                    background-color: rgba(0, 0, 0, .5);
						@include text-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
                        text-align: left;
                        padding: 5px 10px;
					}
					span {
						display: inline-block;
						height: 50px;
						line-height: 50px - 2px * 2;
						padding: 0 32px;
						border: 3px solid rgba(255, 255, 255, 1);
						text-decoration: none;
						color: white;
						letter-spacing: 2px;
						margin-top: 30px;
						@include border-radius(25px);
					}
				}
			}
		}
		

		.banner-btn {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: rgba(220, 194, 120, .8);
			color: #fff;
            @include transition(all .3s);

            &:hover {
              background-color: rgba(220, 194, 120, 1);  
            }

			@include range-width(0, 480px) {
				width: 60px;
				height: 60px;
			}
		}
    }
}

/* CSS Switch */
input {
    &[switch] {
        display: none;

        + label {
            font-size: 1em;
            line-height: 1;
            width: 60px;
            height: 30px;
            background-color: rgba(196, 203, 206, 1);
            background-image: none;
            border-radius: 2rem;
            padding: 0.16667rem;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            position: relative;
            font-weight: 500;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;

            &:before {
                color: rgba(29, 30, 33, 1);
                content: attr(data-off-label);
                display: block;
                font-weight: 500;
                font-size: 13px;
                line-height: 28px;
                position: absolute;
                left: 1px;
                margin: 3px;
                top: -2px;
                text-align: center;
                min-width: 1.66667rem;
                overflow: hidden;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }

            &:after {
                content: "";
                position: absolute;
                right: 3px;
                background-color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 2rem;
                height: 25px;
                width: 25px;
                top: 2px;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }

        &:checked + label {
            background-color: rgba(67, 211, 89, 1);

            &:before {
                color: #fff;
                content: attr(data-on-label);
                left: auto;
                right: 3px;
            }

            &:after {
                right: 33px;
                background-color: white;
            }
        }
    }

    &[switch="bool"] {
        + label {
            background-color: #ec536c;

            &:before {
                color: #fff;
            }
        }

        &:checked + label:before {
            color: #fff;
        }
    }
}

// 0308 v-detail prev, next arrow
.mySwiper {
    .swiper-button-next, .swiper-button-prev {
        &:after {
            font-size: 24px;
        }
    }
    .banner-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(220, 194, 120, .8);
        color: #fff;
        @include transition(all .3s);
    
        &:hover {
          background-color: rgba(220, 194, 120, 1);  
        }
    
        @include range-width(0, 480px) {
            width: 60px;
            height: 60px;
        }
    }
}

