@import "Ginkgo";
@import "color";

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bannerboxs {
    &.bannerboxs {
        display: inline-block;
        width: 100%;
        height: 320px;
        background-color: rgba(255, 0, 0, 0.2);
        margin-top: 30px;

		.swiper-slide {
			@include range-width(450px) {
				&:nth-child(3n-2), &:nth-child(3n) {
					height: 280px;
					margin-top: 40px;
				}
			}
			.bg {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				display: inline-block;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
	
			.container {
				display: inline-block;
				width: 100%;
				height: 100%;
				position: relative;
				padding-top: 60px;
				z-index: 2;
				text-align: center;
	
				.info {
					header {
						display: inline-block;
						width: 100%;
						line-height: 72px;
						font-size: 52px;
						color: white;
						@include text-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
					}
					p {
						width: 100%;
						display: inline-block;
						margin: 0;
						margin-top: 32px;
						color: white;
	
						@include text-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
					}
					span {
						display: inline-block;
						height: 50px;
						line-height: 50px - 2px * 2;
						padding: 0 32px;
						border: 3px solid rgba(255, 255, 255, 1);
						text-decoration: none;
						color: white;
						letter-spacing: 2px;
						margin-top: 30px;
						@include border-radius(25px);
					}
				}
			}
		}
		

		.banner-btn {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: rgba(220, 194, 120, .7);
			color: #fff;

			@include range-width(0, 480px) {
				width: 60px;
				height: 60px;
			}
		}
    }
}

/* CSS Switch */
input {
    &[switch] {
        display: none;

        + label {
            font-size: 1em;
            line-height: 1;
            width: 60px;
            height: 30px;
            background-color: rgba(196, 203, 206, 1);
            background-image: none;
            border-radius: 2rem;
            padding: 0.16667rem;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            position: relative;
            font-weight: 500;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;

            &:before {
                color: rgba(29, 30, 33, 1);
                content: attr(data-off-label);
                display: block;
                font-weight: 500;
                font-size: 13px;
                line-height: 28px;
                position: absolute;
                left: 1px;
                margin: 3px;
                top: -2px;
                text-align: center;
                min-width: 1.66667rem;
                overflow: hidden;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }

            &:after {
                content: "";
                position: absolute;
                right: 3px;
                background-color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 2rem;
                height: 25px;
                width: 25px;
                top: 2px;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }

        &:checked + label {
            background-color: rgba(67, 211, 89, 1);

            &:before {
                color: #fff;
                content: attr(data-on-label);
                left: auto;
                right: 3px;
            }

            &:after {
                right: 33px;
                background-color: white;
            }
        }
    }

    &[switch="bool"] {
        + label {
            background-color: #ec536c;

            &:before {
                color: #fff;
            }
        }

        &:checked + label:before {
            color: #fff;
        }
    }
}
