@import "Ginkgo";
@import "color";


a, button {
	vertical-align: inherit !important;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	border: 0;
	outline: 0;
}

.menu {
	display: inline-block;
	width: 100%;
	font-size: 1.3rem;
	color: $c-deepblue;
	@include transition(all .3s);
	text-align: center;

	&:after {
		display: inline-block;
		content: '';
		border-right: 1px dotted $c-deepblue;
		height: 50%;
	}

	> span {
		line-height: 1.2;
	}

	&.m01 {
		border-bottom: 5px solid $c-N01;

		&:before {
			display: inline-block;
			content: '';
			border-right: 1px dotted $c-deepblue;
			height: 50%;
		}

		&:hover, &.m01-h {
			color: white;
			background-color: $c-N01;
			border-bottom: 5px solid rgba(239, 156, 147, 1.00);

			&:before {
				display: none;
			}

			&:after {
				display: none;
			}
		}
	}

	&.m02 {
		border-bottom: 5px solid $c-N02;

		&:hover, &.m02-h {
			color: white;
			background-color: $c-N02;
			border-bottom: 5px solid rgba(31, 126, 208, 1.00);

			&:after {
				display: none;
			}
		}
	}

	&.m03 {
		border-bottom: 5px solid $c-N03;

		&:hover, &.m03-h {
			color: white;
			background-color: $c-N03;
			border-bottom: 5px solid rgba(70, 182, 116, 1.00);

			&:after {
				display: none;
			}
		}
	}

	&.m04 {
		border-bottom: 5px solid $c-N04;

		&:hover, &.m04-h {
			color: white;
			background-color: $c-N04;
			border-bottom: 5px solid rgba(79, 188, 232, 1.00);

			&:after {
				display: none;
			}
		}
	}

	&.m05 {
		border-bottom: 5px solid $c-N05;

		&:hover, &.m05-h {
			color: white;
			background-color: $c-N05;
			border-bottom: 5px solid rgba(248, 193, 77, 1.00);

			&:after {
				display: none;
			}
		}
	}

	&.m06 {
		border-bottom: 5px solid $c-N06;

		&:hover, &.m06-h {
			color: white;
			background-color: $c-N06;
			border-bottom: 5px solid rgba(238, 80, 86, 1.00);

			&:after {
				display: none;
			}
		}
	}

	&.m07 {
		border-bottom: 5px solid $c-News;

		&:hover, &.m07-h {
			color: white;
			background-color: $c-News;
			border-bottom: 5px solid rgba(136, 110, 165, 1.00);

			&:after {
				display: none;
			}
		}
	}
}


.index-v-name {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	color: black;
	font-size: 1.2rem;
	@include transition(all .3s);
	text-align: left;
	padding-top: 5px;

	@include range-width(0, 450px) {
		padding-top: 0;
		margin-bottom: 10px;
	}

	&.no-title {
		&:before {
			display: none;
		}
	}

	&:hover {
		color: $c-brown;
	}

	&:before {
		display: inline-block;
		content: attr(title);
		color: $c-main;
		cursor: auto;
		margin-right: 10px;
	}
}

.vo-img-hover {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: $c-sec;
	@include border-radius(10px);
	overflow: hidden;

	> img {
		width: 100%;
		max-width: 150px;
		margin: 10px;
	}
}

.v-img-hover {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: black;
	@include transition(all .3s);
	@include border-radius(10px);
	overflow: hidden;

	> img {
		width: 100%;
		max-width: 300px;
	  opacity: .8;
	}

	&:hover {
		background-color: transparent;

		img {
			opacity: 1;
		}
	}
}

.pagenumber {
	display: inline-block;
	width: 25px;
	height: 25px;
	color: $c-main;
	font-size: 1rem;
	margin-left: 8px;
	line-height: 25px;
	@include border-radius(30px);

	&:hover, &.page-ac {
		border: 2px solid $c-main;
		color: $c-main;
		line-height: 22px;
	}

	&.al {
		line-height: normal;

		&:before {
			display: inline-block;
			content: '\e907';
			font-size: 2rem;
			font-family: icon;
		}

		&:hover {
			border: 0;
			&:before {
				display: inline-block;
				content: '\e906';
				font-size: 2rem;
				font-family: icon;
			}
		}
	}
	&.ar {
		line-height: normal;

		&:before {
			display: inline-block;
			content: '\e909';
			font-size: 2rem;
			font-family: icon;
		}

		&:hover {
			border: 0;
			&:before {
				display: inline-block;
				content: '\e908';
				font-size: 2rem;
				font-family: icon;
			}
		}
	}
}

.btn-more {
	display: inline-block;
	background-color: $c-main;
	font-size: 1.2rem;
	color: white;
	@include border-radius(20px);
	padding: 5px 15px 2px 15px;
  line-height: 27px;

  &:hover {
  	color: white;
  	background-color: $c-brown;
  }
}

.btn-orange {
	display: inline-block;
	padding: 5px 15px;
	color: white;
	font-size: 1.2rem;
	@include border-radius(30px);
	border: 0;
	background-color: $c-Orange;
	@include transition(all .3s);

	&:hover {
		color: white;
		background-color: rgba(239, 131, 0, .8);
	}
}

.icon-orange {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: white;
	@include border-radius(30px);
	border: 0;
	background-color: $c-Orange;
	@include transition(all .3s);
	margin-left: 10px;

	&.icon-exit_to_app {
		font-size: 2rem;
	}
	&.icon-account_circle {
		font-size: 2rem;
	}
	&.icon-playlist_play {
		font-size: 2.3rem;
		padding-left: 3px;
	}

	&:hover {
		color: white;
		background-color: rgba(239, 131, 0, .8);
	}
}


.btn-sign {
	display: inline-block;
	width: 100%;
	max-width: 500px;
	background-color: rgba(38, 159, 221, 1.00);
	padding: 20px;
	@include border-radius(5px);
	@include transition(all .3s);
	
	&:hover, &:active {
		background-color: rgba(38, 159, 221, .9);
	}

	@include range-width(0, 450px) {
		padding: 20px 15px;
	}
}


.btn-br {
	display: inline-block;
	padding: 5px 15px;
	color: white;
	font-size: 1.2rem;
	@include border-radius(30px);
	border: 0;
	background-color: rgba(193, 163, 120, 1.00);
	@include transition(all .3s);

	&:hover {
		color: white;
		background-color: rgba(193, 163, 120, .8);
	}
}


.month-nav {
	display: inline-block;
	width: 100%;
	color: $c-grey;
	font-size: 1.3rem;
	border-bottom: 2px dotted $c-grey;
	text-align: left;
	@include transition(all .3s);
	padding: 5px 0;

	&:before {
		display: inline-block;
		content: '';
		width: 100%;
		max-width: 20px;
		height: 20px;
		background-image: url(../img/icon-month.png);
		margin-right: 8px;
	}

	&:hover, &.mon-ac {
		color: $c-main;

		&:before {
			display: inline-block;
			content: '';
			width: 100%;
			max-width: 20px;
			height: 20px;
			background-image: url(../img/icon-month-h.png);
		}
	}
}

.new-title-link {
	display: inline-block;
	width: 100%;
	color: $c-deepblue;
	font-size: 1.3rem;
	@include transition(all .3s);
	text-align: left;

	&:hover {
		text-decoration: underline;
		color: $c-deepblue;
	}

	&:after {
		display: inline-block;
		content: '\e900';
		font-family: icon;
		float: right;
	}
}

.set-link {
	display: inline-block;
	cursor: pointer;
  font-size: 1.3rem;
  background-color: rgba(193, 163, 120, 1.00);
  @include transition(all .3s);
  -webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;  

  &:hover {
  	background-color: rgba(193, 163, 120, .8);
  }
}

.text-18-w-h {
  color: white;
  font-size: 1.3rem;

  &:hover {
  	color: white;
  }
}

.logoimg {
	display: inline-block;
	width: 100%;
	max-width: 170px;
	padding-top: 7px;


	@include range-width(0, 450px) {
		max-width: 130px;
	}
}

.logoimg-m {
	display: inline-block;
	width: 100%;
	max-width: 120px;
}


.so-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	color: white;
	@include border-radius(30px);
	line-height: 30px;

	&:hover {
		color: white;
	}

	&.som {
		margin-left: 5px;
	}

	&.fb {
		background-color: $so-face;

		&:before {
			display: inline-block;
			content: '\f09a';
			font-family: icon;
			font-size: 1.2rem;
		}
	}

	&.u2 {
		background-color: $so-u2;

		&:before {
			display: inline-block;
			content: '\e90f';
			font-family: icon;
			font-size: 1.2rem;
		}
	}
	&.line {
		background-color: $so-line;

		&:before {
			display: inline-block;
			content: '\e90e';
			font-family: icon;
			font-size: 1.2rem;
			// line-height: 30px;
		}
	}
	&.app {
		background-color: $so-app;

		&:before {
			display: inline-block;
			content: '\e90d';
			font-family: icon;
			font-size: 1.2rem;
			// line-height: 30px;
		}
	}
}


.m-link {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 2px dotted $c-grey;
	line-height: 30px;

	.m-text {
		font-size: 2rem;
		margin-right: 15px;
		vertical-align: middle;
	}

	span {
		display: inline-block;
		font-size: 1.4rem;
		color: $c-deepblue;
		float: left;
	}
}





