@import "Ginkgo";
@import "color";

.h60 {
	height: 60px;
}

.border-dotted-b-grey {
  border-bottom: 1px dotted $c-grey;
}

.border-dotted-e {
	border-right: 1px dotted $c-deepblue;
}

.tag-green, .tag-blue, .tag-red {
  display: inline-block;
  padding: 3px 5px;
  font-size: 1rem;
  color: white;
  @include border-radius(2px);
  z-index: 2;
}

.tag-green {
  background-color: $tag-green;
}

.tag-blue {
  background-color: $tag-blue;
}

.tag-red {
  background-color: $tag-red;
}

.mt-20 {
  margin-top: -3.5%;
}

.sort01, .sort02, .sort03 {
  display: inline-block;
  width: 75px;
  font-size: 1rem;
  padding: 5px 10px;
  color: white;
  @include border-radius(3px);
  text-align: center;
}

.sort01 {
  background-color: rgba(147, 122, 85, 1.00);
}
.sort02 {
  background-color: rgba(55, 157, 255, 1.00);
}
.sort03 {
  background-color: rgba(255, 75, 76, 1.00);
}






