@import "Ginkgo";
@import "color";

// boot
.form-label {
  display: inline-block;
  width: 100%;
  color: rgba(146, 122, 85, 1.00);
  font-size: 1.2rem;
  text-align: left;

  > i {
    font-style: normal;
  }
}

.form-control  {
  padding: .75rem;
  font-size: 1.05rem;

  &::placeholder {
    color: rgba(149, 149, 149, 1.00);
  }
}

.form-check-label {
  color: rgba(147, 122, 85, 1.00);
  font-size: 1.2rem;
  float: left;
  padding-left: 10px;
  line-height: 1.8;
  text-align: left;

  &.fc-l2 {
    padding-left: 15px;
    color: rgba(54, 54, 54, 1.00);
    display: inline-block;
    width: calc(100% - 15px);
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.form-check-input {
  width: 20px;
  height: 20px;
}



.w95 {
  display: inline-block;
  width: 100%;
  max-width: 95px;
}

.h60 {
	height: 60px;
}

.mb-7 {
  margin-bottom: 7px;
}

.m-t15 {
  margin-top: -15px;
}

.set-space {
  padding: 10px 15px;
}

.bg-member {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background-color: rgba(253, 246, 239, 1.00);

  @include range-width(0, 450px) {
    padding: 0 20px;
    padding-bottom: 40px;
  }
}

.border-dotted-b-grey {
  border-bottom: 1px dotted $c-grey;
}

.border-dotted-b-grey2 {
  border-bottom: 2px dotted $c-grey;
}

.border-dotted-e {
	border-right: 1px dotted $c-deepblue;
}

.tag-green, .tag-blue, .tag-red {
  display: inline-block;
  padding: 3px 5px;
  font-size: 1rem;
  color: white;
  @include border-radius(2px);
  z-index: 2;
}

.tag-green {
  background-color: $tag-green;
}

.tag-blue {
  background-color: $tag-blue;
}

.tag-red {
  background-color: $tag-red;
}

.mt-20 {
  margin-top: -3.5%;
}

.sort01, .sort02, .sort03 {
  display: inline-block;
  width: 75px;
  font-size: 1rem;
  padding: 5px 10px;
  color: white;
  @include border-radius(3px);
  text-align: center;
}

.sort01 {
  background-color: rgba(147, 122, 85, 1.00);
}
.sort02 {
  background-color: rgba(55, 157, 255, 1.00);
}
.sort03 {
  background-color: rgba(255, 75, 76, 1.00);
}






