@import "Ginkgo";
@import "color";

html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  text-align: center;
  font-family:'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  
  // 文字染色，背景色、文字色
  @include selection(rgba(120, 186, 255, 1.00), rgba(255, 255, 255, 1));
}


// bootstrap
.nav {
  @include range-width(0, 450px) {
    justify-content: space-between !important;
  }
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link {
  display: inline-block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
  padding: 3px 50px !important;
  // border: 0;
  color: white;
  background-color: $c-main !important;
  border-top: 5px solid $c-brown !important;

  @include range-width(0, 450px) {
    width: 48%;
    padding: 3px 55px !important;
  }

  &:first-child {
    @include range-width(0, 450px) {
      margin-right: 10px !important;
    }
  }

  &.v01 {
    &:hover, &.active {
      color: $c-N01;
      background-color: white !important;
      border-top: 5px solid $c-N01 !important;
    }
  }

  &.v02 {
    &:hover, &.active {
      color: $c-N02;
      background-color: white !important;
      border-top: 5px solid $c-N02 !important;
    }
  }

  &.v03 {
    &:hover, &.active {
      color: $c-N03;
      background-color: white !important;
      border-top: 5px solid $c-N03 !important;
    }
  }

  &.v04 {
    &:hover, &.active {
      color: $c-N04;
      background-color: white !important;
      border-top: 5px solid $c-N04 !important;
    }
  }

  &.v05 {
    &:hover, &.active {
      color: $c-N05;
      background-color: white !important;
      border-top: 5px solid $c-N05 !important;
    }
  }

  &.v06 {
    &:hover, &.active {
      color: $c-N06;
      background-color: white !important;
      border-top: 5px solid $c-N06 !important;
    }
  }

  &:first-child {
    margin-right: 20px;
  }

  &.active {
    border: 0;
  }
}

.indexboxs {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 475px;
  margin:0;
  padding:0;
  background: white url(../img/header-bg.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.new-titleBoxs {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.new-list {
  display: inline-block;
  width: calc(100% - 75px);
  float: left;
  padding-left: 20px;
  border-bottom: 1px dotted $c-grey;

  &.nl-d {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

.member-header {
  display: inline-block;
  width: 100%;
  background-image: url(../img/rainbow2.svg);
  background-repeat: repeat-x;
  height: 95px;

  @include range-width(0, 450px) {
    height: 80px;
  }
}

.member-header-boxs {
  display: inline-block;
  width: 100%;
  background-image: url(../img/member-bg.png);
  height: 150px;
}

.mbp_9 {
  max-width: 900px !important;
}

.memberBoxs {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  max-width: 0 atuo;
}

.Boxs500 {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  max-width: 0 atuo;
  @include border-radius(5px);
  padding: 20px 30px;
  margin-top: -50px;
  @include box-shadow(2px 2px 2px 1px rgba(29, 30, 33, .1));

  @include range-width(0, 450px) {
    padding: 20px;
  }
}


.logoboxs {
  display: inline-block;
  width: 100%;
  max-width: 1190px;

  // d
  height: 110px;
  background-color: rgba(255, 0, 0, 0.2);
}

.testboxs {
  display: inline-block;
  width: 100%;
  height: 230px;
  background-color: rgba(255, 0, 0, 0.2);
}

.p-h-boxs {
  display: inline-block;
  width: 100%;
  min-height: 230px;
  margin:0;
  padding:0;
  background: white url(../img/header-bg.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.pageboxs {
  display: inline-block;
  width: 100%;
  // min-height: 220px;
  margin:0;
  padding:0 0 60px 0;
  background: white url(../img/header-bg.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;

  @include range-width(0, 450px) {
    // min-height: 290px;
    padding-bottom: 42px;
  }
}

.m-pageboxs {
  display: inline-block;
  width: 100%;
  min-height: 115px;
  margin:0;
  padding:0;
  background: white url(../img/header-bg.png) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.centBoxs {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 1190px;
}

.iconBoxs {
  display: inline-block;
  float: left;
  position: relative;

  &:before {
    display: inline-block;
    content: '\e90a';
    font-family: icon;
    font-size: 4rem;
  }

  &.icon-01 {
    &:before {
      color: $c-N01;
    }
  }

  &.icon-02 {
    &:before {
      color: $c-N02;
    }
  }

  &.icon-03 {
    &:before {
      color: $c-N03;
    }
  }

  &.icon-04 {
    &:before {
      color: $c-N04;
    }
  }

  &.icon-05 {
    &:before {
      color: $c-N05;
    }
  }

  &.icon-06 {
    &:before {
      color: $c-N06;
    }
  }
}

.title-cover {
  display: inline-block;
  width: 100%;
  @include border-radius(8px);
  overflow: hidden;
  padding: 15px 20px;

  @include range-width(0, 450px) {
    padding: 10px 15px;
  }

  &.n1-tc {
    background-image: url(../img/n01-bg.png);
  }

  &.n2-tc {
    background-image: url(../img/n02-bg.png);
  }

  &.n3-tc {
    background-image: url(../img/n03-bg.png);
  }

  &.n4-tc {
    background-image: url(../img/n04-bg.png);
  }

  &.n5-tc {
    background-image: url(../img/n05-bg.png);
  }

  &.n6-tc {
    background-image: url(../img/n06-bg.png);
  }

  &.search-tc {
    background-image: url(../img/search-bg.png);
  }

  &.news-tc {
    background-image: url(../img/news-bg.png);
  }

  .n1-cover, .n2-cover, .n3-cover, .n4-cover, .n5-cover, .n6-cover, .search-cover, .news-cover {
    display: inline-block;
    width: 100%;
    max-width: 95px;
    height: 95px;
    @include border-radius(100px);
    overflow: hidden;
    background-color: white;

    @include range-width(0, 920px) {
      max-width: 75px;
      height: 75px;
      float: left;
    }
  }

  .n1-cover {
    @include box-shadow(2px 2px 2px 1px rgba(154, 4, 4, 1.00));
  }

  .n2-cover {
    @include box-shadow(2px 2px 2px 1px rgba(7, 74, 124, 1.00));
  }

  .n3-cover {
    @include box-shadow(2px 2px 2px 1px rgba(0, 78, 51, 1.00));
  }

  .n4-cover {
    @include box-shadow(2px 2px 2px 1px rgba(55, 93, 208, 1.00));
  }

  .n5-cover {
    @include box-shadow(2px 2px 2px 1px rgba(165, 135, 53, .7));
  }

  .n6-cover {
    @include box-shadow(2px 2px 2px 1px rgba(154, 4, 4, 1.00));
  }

  .search-cover {
    @include box-shadow(2px 2px 2px 1px rgba(110, 0, 0, .5));
  }

  .news-cover {
    @include box-shadow(2px 2px 2px 1px rgba(88, 0, 110, .8));
  }
}

// .pageBoxs {
//   display: inline-block;
//   width: 100%;
//   height: 100%;
//   max-height: 800px;
//   position: absolute;
//   top: -5%;
//   left: 0;
// }

.allBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1190px;
  height: 100%;
  @include clearfix();
}

// .centBoxs {
//   display: inline-block;
//   width: 100%;
//   max-width: 1210px;
//   @include clearfix();
// }

.scroll-boxs {
  display: inline-block;
  width: 100%;
  max-height: 550px;
  overflow-y: scroll;
}


footer {
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(217, 217, 199, 1.00);
  padding: 20px 0;
  @include clearfix();
  margin-top: 50px;
  background-color: white;

  @include range-width(0, 1200px) {
    padding: 20px 15px;
  }

  &.mf {
    margin-top: 0;
  }

  img {
    width: 100%;
    max-width: 210px;
    float: left;

    @include range-width(0, 450px) {
      max-width: 150px;
      float: inherit;
      margin-bottom: 15px;
    }
  }

  .copyright {
    display: inline-block;
    width: 42%;
    float: right;
    font-size: 1rem;
    line-height: 1.5;
    color: $c-F-Text;
    text-align: left;

    @include range-width(450px, 850px) {
      width: 60%;
    }

    @include range-width(0, 450px) {
      font-size: .9rem;
      width: 100%;
      text-align: center;
      line-height: 1.3;
    }
  }
}

.menuboxs {
  display: inline-block;
  width: 100%;
  background-image: url(../img/rainbow.svg);
  background-repeat: repeat-x;

  height: 60px;
}

.top-5 {
  top: -5% !important;
}

.start-6 {
  left: 6% !important;
}

.set-box {
  display: inline-block;
  width: 100%;
  @include border-radius(10px);
  background-color: rgba(147, 122, 85, 1.00);
}





