@import "Ginkgo";
@import "color";

.form-select {
  color: $c-main !important;
  background-size: 9px 12px;
  padding: 0.6rem 1.8rem 0.6rem 0.75rem;
}


.icon-check {
  margin-top: 35px;
  color: $c-grey;
  font-size: 1.6rem;

  &.ic-nmt {
    margin-top: 0;
  }

  &.ic-g {
    color: rgba(66, 186, 47, 1.00);
  }
}


.m-alert {
  display: inline-block;
  width: 100%;
  color: rgba(255, 76, 76, 1.00);
  font-size: 1.26rem;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
}

.day-num {
  display: inline-block;
  position: absolute;
  top: 23%;
  left: 23%;
  color: white;
  font-size: 2rem;
  line-height: 20px;

  &:before{
    display: block;
    content: attr(title);
    font-size: 1.1rem;
  }
}

.n1-title, .n2-title, .n3-title, .n4-title, .n5-title, .n6-title, .search-title, .news-title {
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  color: white;
  padding-top: 8px;

  @include range-width(0, 920px) {
    width: auto;
    float: left;
    padding-left: 20px;
    line-height: 75px;
    padding-top: 0;
  }
}

.n1-title {
  text-shadow: 2px 3px 2px rgba(154, 4, 4, 1.00);
}

.n2-title {
  text-shadow: 2px 3px 2px rgba(7, 74, 124, 1.00);
}

.n3-title {
  text-shadow: 2px 3px 2px rgba(0, 78, 51, 1.00);
}

.n4-title {
  text-shadow: 2px 3px 2px rgba(55, 93, 208, 1.00);
}

.n5-title {
  text-shadow: 2px 3px 2px rgba(165, 135, 53, .7);
}

.n6-title {
  text-shadow: 2px 3px 2px rgba(154, 4, 4, 1.00);
}

.search-title {
  text-shadow: 2px 3px 2px rgba(110, 0, 0, .5);
}

.news-title {
  text-shadow: 2px 3px 2px rgba(88, 0, 110, .8);
}

.text-16 {
  display: inline-block;
  font-size: 1.2rem;
  color: black;

  @include range-width(0, 450px) {
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
  }
}

.text-24 {
  display: inline-block;
  margin-bottom: 0;
  color: black;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 15px;
}

.text-24-blue {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  color: $c-deepblue;
  font-size: 1.6rem;
  @include transition(all .3s);
  text-align: left;
  padding-left: 15px;
}

.text-13-blue {
  display: inline-block;
  font-size: 1rem;
  color: $c-deepblue;
}

.new-title {
  display: inline-block;
  color: $c-deepblue;
  font-size: 1.6rem;
  text-align: left;
  float: left;
  padding: 10px 0; 
}

.new-day {
  display: inline-block;
  float: right;
  font-size: 1rem;
  color: black;
  line-height: 50px;

  &:before {
    display: inline-block;
    content: '\e90c';
    font-family: icon;
    margin-right: 5px;
  }
}

.member-title {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 3px 2px rgba(205, 151, 0, 1.00);
  padding: 30px 0;
}

.text-24-w {
  color: white;
  font-size: 1.8rem;

  @include range-width(0, 450px) {
    font-size: 1.6rem;
  }
}

.text-18-w {
  color: white;
  font-size: 1.3rem;

  @include range-width(0, 450px) {
    font-size: 1.2rem;
  }
}

.text-18 {
  display: inline-block;
  width: 100%;
  font-size: 1.28rem;
  text-align: left;
  line-height: 1.8;
  font-weight: 300;
}

.m-text-border {
  display: inline-block;
  width: 100%;
  border-bottom: 2px dotted $c-grey;
  padding: 20px 0;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;

  @include range-width(0, 450px) {
    padding: 0 0 20px 0;
  }

  &.m-big-title {
    color: rgba(146, 122, 85, 1.00);
    font-size: 1.8rem;
  }

  &.m-big-title-b {
    color: $c-deepblue;
    font-size: 1.6rem;
    padding: 0 0 20px 0;
  }
}

.account-title {
  display: inline-block;
  color: rgba(146, 122, 85, 1.00);
  font-size: 1.3rem;
  text-align: left;
}

.account-time {
  display: inline-block;
  color: $c-Orange;
  font-size: 1.3rem;
}

.account-de {
  display: inline-block;
  font-size: 1.3rem;
  text-align: left;
}

.userName {
  display: inline-block;
  font-size: 1.3rem;
  color: rgba(147, 122, 85, 1.00);
  margin-bottom: 0;
  margin-top: 6px;
  margin-right: 15px;
}

.userName-m {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  color: rgba(147, 122, 85, 1.00);
  margin-bottom: 0;
  text-align: left;
}



