@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m3s3w1');
  src:  url('fonts/icomoon.eot?m3s3w1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m3s3w1') format('truetype'),
    url('fonts/icomoon.woff?m3s3w1') format('woff'),
    url('fonts/icomoon.svg?m3s3w1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line:before {
  content: "\e90e";
}
.icon-play-btn-fill:before {
  content: "\e90f";
}
.icon-icon_app:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow-left-circle-fill:before {
  content: "\e906";
}
.icon-arrow-left-circle:before {
  content: "\e907";
}
.icon-arrow-right-circle-fill:before {
  content: "\e908";
}
.icon-arrow-right-circle:before {
  content: "\e909";
}
.icon-icon:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-arrow-right-thick:before {
  content: "\e900";
}
.icon-arrow-left-thick:before {
  content: "\e901";
}
.icon-error:before {
  content: "\e902";
}
.icon-playlist_play:before {
  content: "\e910";
}
.icon-access_time:before {
  content: "\e90c";
}
.icon-account_circle:before {
  content: "\e911";
}
.icon-exit_to_app:before {
  content: "\e91a";
}
